body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
    font-size: 100px;
    color: aliceblue;
    backdrop-filter: brightness(.5);
    letter-spacing: 3px;
}

.btn {
    background-color: black;
    color: white;
    font-size: 30px;
    border: 4px solid;
    cursor: pointer;
    transition: 1s background-color;
}

.btn:hover {
    background-color: white;
    color: black;
}

.split {
    width: 50%;
    height: 100%;
    top: 0;
}

.split.left {
    position: absolute;
    left: 0;
    background-color: pink;
    background-image: url("https://m.media-amazon.com/images/I/61l9ppRIiqL._AC_UF1000,1000_QL80_.jpg");
    background-size: cover;
}

.split.right {
    position: absolute;
    right: 0;
    background-color: lightblue;
    background-image: url("https://m.media-amazon.com/images/I/91W42b8YW+L._AC_UF1000,1000_QL80_.jpg");
    background-size: cover;
}

.active-left .left {
    width: 75%;
}

.active-left .right {
    width: 25%;
}

.active-right .left {
    width: 25%;
}

.active-right .right {
    width: 75%;
}

.left, .right {
    transition: width 2s ease-in;
}