@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');


body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aqua;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}