body {
    display: grid;
    place-items: center;
    max-width: 100%;
    background-color: #ecf0f1;
    height: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: .1rem;
}

.tabs {
    display: flex;
    gap: 3.2rem;
    text-transform: uppercase;
    cursor: pointer;
    list-style: none;
    margin-bottom: 3.2rem;
}

.menu-images {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 32rem;
    height: 28rem;
    border-radius: .6rem;
    box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
}